

<div class="container-main">
<% content_for :meta_title, "#{@milestone.title} is your focus now" %>
<div class="content2">
<div class="card-journal-book-top">
  <div class="card-journal-book-text">
  <!-- <h4>  Session <%=@milestone.title %> </h4> -->
  </div>
</div>
<!-- <div class="card-pomodoro"> -->
 

<div id="pomodoro">
     <div id="countdown">
        <span id="minutes">25</span>
        <span>:</span>
        <span id="seconds">00</span>
      </div>
  <div id="options">
    <div id="session">
      <i id="decrSession" class="fas fa-minus-square"></i>
      <span class="option-title"></span>
      <!-- <input id="sessionInput" type="number" value="25" max="25" min="25"> -->
      <i id="incrSession" class="fas fa-plus-square"></i>
      <span class="option-title" ></span>
    </div>
  </div>

  <div id="clock">
    <div id="timer">

    <div id="controls" class="reset">
      <div class="start-stop">
      <div id="start">
          <%= simple_form_for @pomodoro, remote: true do |f| %>
            <%= f.input :action, as: :hidden, input_html: { value: 'start' } %>
            <%= button_tag :class => 'btn-tag' do %>
            <p>Start</p>
            <% end %>
          <% end %>
      </div>

      <div id="done">
        <%= simple_form_for @pomodoro, remote: true do |f| %>
          <%= f.input :action, as: :hidden, input_html: { value: 'done' } %>
            <%= button_tag :class => 'btn-tag' do %>
              <p>Done</p>
          <% end %>
        <% end %>
      </div>
    </div>
      <div id="back">
        <%= link_to milestone_path(@milestone, pomodoro_id: @pomodoro.id) do %>
          <p>Evaluate Your Session</p>
          <div class="back-fade-in">
          <!-- <img class="vert-move fade-in" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563012445/zxc_vvjt4c.png" alt=""> -->
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div id="note">
  </div>
    </div>
  </div>
<audio loop autostart="0" src="https://joeweaver.me/codepenassets/freecodecamp/challenges/build-a-pomodoro-clock/forest.mp3"></audio>



</div>


<script>
const time = 25;
window.time = time;
const up = document.getElementById("incrSession");
up.addEventListener("click", (event)=> {
  if (window.time <= 59) {
    window.time += 1;
    document.getElementById("minutes").innerText = window.time;
    document.getElementById("sessionInput").value = window.time;
  }
});
const down = document.getElementById("decrSession");
down.addEventListener("click", (event)=> {
  window.time -= 1;
  document.getElementById("minutes").innerText = window.time;
  document.getElementById("sessionInput").value = window.time;
});
const start = document.querySelector("#start");
// start.addEventListener("click", (event)=> {
//   const myAudio = document.querySelector("audio");
  // myAudio.play();
  // myAudio.pause();
// });
</script>
