<div class="container-main">
<% content_for :meta_title, "The Leaderboard of Conquered Time" %>
  <div class="card-scoreboard">
    <div class="the-leaderboard">
      <h2>Leaderboard</h2>

    </div>
    <div class="first-place-group">
      <img src="<%= @users.first.avatar %>" alt="Avatar" class="avatar">
      <p class="first-place"><%= @users.first.username %></p>
      <p><%= @users.first.time %></p>
    </div>

    <div class="second-place-group">
      <img src="<%= @users.second.avatar %>" alt="Avatar" class="avatar">
      <p class="second-place"><%= @users.second.username %></p>
      <p><%= @users.second.time %></p>
    </div>

    <div class="third-place-group">
      <img src="<%= @users.third.avatar %>" alt="Avatar" class="avatar">
      <p class="third-place"><%= @users.third.username %></p>
      <p><%= @users.third.time %></p>
    </div>

    <% @not_podium.each do |user| %>
      <% if user.avatar == nil %>
        <% then %>
          <div class="peasants-group">
            <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562650336/maskCopy2_3x_vreuag.png" alt="Avatar" class="avatar">
            <p><%= user.username %></p>
            <p><%= user.time %></p>
          </div>
        <% else %>
          <div class="peasants-group3">
            <img src="<%= user.avatar %>" alt="Avatar" class="avatar">
            <p><%= user.username %></p>
            <p><%= user.time %></p>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
