<!-- app/views/offers/show.html.erb -->
<div class="container-main">
<% @journals.each do |journal| %>
  <div class="card-journal">
    <!-- <div class="card-journal-profile"> <img src="https://source.unsplash.com/random/100x100" alt=""> </div> -->
    <div class="card-journal-top">
      <h2><%= journal.title.capitalize %> <br><span class="text-special"></span></h2>
            <% if journal.image == nil %>
          <% then %>
            
            <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563012445/zxc_vvjt4c.png" alt="" style="object-fit: cover;">
            <% else %>
              <img src=<%= journal.image %> alt="" style="object-fit: cover;">
                <% end %>
      </div>
      <div class="card-journal-trophies">
        <div class="trophies">
          <% if journal.achievements.count == 0 %>
          <% then %>
            <p>Get started!</p>
            <% else %>
            <p><%= journal.trophies_number %></p>
            <% end %>
          <i class="fas fa-trophy"></i>
        </div>

        <div class="time">
          <p><%= journal.time %></p>
          <i class="fas fa-hourglass-end"></i>
        </div>

        <div class="times">
          <p><%= journal.focus_sessions %></p>
          <i class="fas fa-history"></i>
        </div>

        <div class="something">
          <p> <%= journal.star_average %> </p>
        <i class="fas fa-star"></i>
        </div>
      </div>


<div class="card-journal-book-add-container">
  <%= link_to journal_entries_path(journal) do %>
  <p class="button-fast"style="color:white; font-weight:800;">Work on <%= journal.title %></p>
<% end %>
  </div>

  </div>
<% end %>
</div>

 <div class="card-own-journal">
<div class="card-own-journal-text">
  <p>Feel free to create another journal. Remember the title should be a broad subject you wish to work on.</p>
  <div class="image-create">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563108730/reverze_cuytoz.png" alt="">
  </div>
</div>
  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield" type="text" name="journal[title]" id="title">
 <input type="hidden" id="helpUser" name="helpUser" value=true>
<div class="button-margin">
    <input class="form-submit" value="Make a new Journal" type="submit">
  </form>
  </div>
</div>
<div class="hello" style="margin-bottom:40px;">

</div>
