
<div class="container-main">

<div class="card-journal-wrap">
<% @journals.each do |journal| %>
  <div class="card-journal">
      <div class="card-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/doem0zjpf/image/upload/v1574155290/back_iwhfiy.jpg');   background-position: center;
      background-size: cover;">
        <h2 class="card-background-title"><%= journal.title.capitalize %></h2>
        <div class="card-background-border">
      </div>
      </div>
        <div class="card-journal-trophies">
          <div class="stat-total trophy">
            <p><%= journal.trophies_number %></p>
          <i class="fas fa-trophy"></i>
        </div>
          <div class="times trophy">
              <p><%= journal.time %></p>
            <i class="fas fa-hourglass-end"></i>
          </div>
          <div class="time trophy">
          <p><%= journal.focus_sessions %></p>
          <i class="fas fa-history"></i>
          </div>
          <div class="apple trophy">
            <p> <%= journal.star_average %> </p>
          <i class="fas fa-star"></i>
          </div>
      </div>
      <div class="card-journal-forward">
          <%= link_to new_journal_entry_path(journal) do %>
          <button><i class="fas fa-arrow-right"></i></button>
          </div>
          <% end %>
  </div>
<% end %>


 <div class="card-journal">
   <div class="card-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/doem0zjpf/image/upload/v1574155290/back_iwhfiy.jpg');   background-position: center;
   background-size: cover;">
    <h2 class="card-background-title">Create journal</h2>
    <div class="card-background-border">
    </div>
  </div>
  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="title">
    </label>
    <input class="form-textfield" type="text" name="journal[title]" id="title">
    <input type="hidden" id="helpUser" name="helpUser" value=true>
    <div class="card-journal-forward">
        <button><i class="fas fa-arrow-right"></i></button>
      <input class="form-submit" value="" type="submit">
    </div>
  </form>
</div>
</div>




</div>
</div>